body,h1,h3,p,ul{
    margin: 0;
    padding: 0;
    line-height: 2;
}
body { 
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
    background: -webkit-linear-gradient(bottom left, rgb(181, 163, 207),rgb(96, 217, 226), rgb(252, 229, 100));	
}
/* Page Layout */
.container{
    display: grid;
    grid-template-columns: 35% auto auto;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
    overflow: hidden;
}
header{
    grid-area:header ;
    display: block;
    margin: auto;
}
#logo{
    height: 200px;
}

nav{
    grid-area: nav;
    background-color: rgb(34, 31, 41);
    border-top: rgba(182, 181, 171, 0.788) 1.5px solid;
    border-bottom: rgba(182, 181, 171, 0.788) 1.5px solid;
    min-width: 100%;
    padding: 5px 0;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(34, 31, 41);
}
/* Nav Styling */
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
}

.navbar-links li{
    list-style-type: none;

}
.navbar-links li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: #555;
}
.nav-list{
    display: block;
}
.nav-list li{
    flex-direction: row;
}
.nav-icon li{
    display:none;
}
button .toggle-button{
    background-color: rgb(34, 31, 41);
    border: transparent;
    box-shadow: 0 3px rgb(28, 27, 29);
    padding: 5px;
    border-radius: 2px;
    color: whitesmoke;
}
.button:active {
    background-color: rgb(34, 31, 41);
    box-shadow: 0 5px rgb(28, 27, 29);
    transform: translateY(4px);
  }
/* Main */
.headerimg{
    height: 400px;
    width: 60%;
    display: block;
    margin: 2em auto 2em auto;
}
.heading{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}
.description{
    width: 80%;
    margin: 25px auto 25px auto;
    font-size: 18px;
}
#hdgs{
    display: block;
    text-align: center;

}
.activities-hdg::before,
.activities-hdg::after {
  background-color: rgb(53, 40, 83);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.activities-hdg::before {
  right: 0.5em;
  margin-left: -50%;
}

.activities-hdg::after{
  left: 0.5em;
  margin-right: -50%;
}
.activities-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.activities-content-rx{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.content-img{
    height: 380px;
    width: 420px;
    margin-right: 20px;
    margin-left: 20px;
}

.activities-para{
    text-align: left;
    width: 50%;
    font-size: 18px;
}
.foot-icons{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    margin-top: 10px; 
    list-style-type: none;
}
.foot-icons a i{
    color: rgb(224, 173, 43);
}
 /* Media Queries */

  /* When screen size smaller than 740px */
  @media screen and (max-width: 740px) {
    .activities-content, .activities-content-rx{
        display: flex;
        flex-direction: column;
    }
    .headerimg{
        max-width: 100%;
    }
    .content-img{
        max-width: 67%;
        max-height: 100%;
        padding-bottom: 1em;
    }
    .activities-para{
        width: 80%;
    }
  }
   /* When menu icon clicked, javascript shows nav items */
   @media screen and (max-width: 740px) {
    /* Responsive Navbar */
    .nav-icon li{
        display: block;
    }
    .navbar-links .nav-list{
        display: none;
    }
    
    .nav-list{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .nav-list li{
        flex-direction: column;
        text-align: center;
    }
    .nav-list li a{
        padding: .5 rem 1 rem;
    }
}
