body,h1,h3,p,ul{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(185, 224, 248);
    font-family: 'Indie Flower', cursive;
}
/* Page Layout */
.container{
    display: grid;
    grid-template-columns: 35% auto auto;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
    overflow: hidden;

}
/* Header */
header{
    grid-area:header ;
    /* background-color: rgb(185, 224, 248); */
    /* background-color: #fa9b96; */
    display: block;
    margin: auto;
}
#logo{
    height: 200px;
}

nav{
    grid-area: nav;
    background-color: rgb(185, 224, 248);
    border-top: rgba(182, 181, 171, 0.788) 1.5px solid;
    border-bottom: rgba(182, 181, 171, 0.788) 1.5px solid;
    min-width: 100%;
}
main{
    grid-area: main;
    background-image: url(images/reflection.jpg);
    background-size: 1400px 800px;
    background-repeat:no-repeat;
    background-position: center;
}
footer{
    grid-area: footer;
}
/* Nav Styling */
ul{
    list-style-type: none;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    margin-bottom:4px;
}
.topnav a {
    display: block;
    color: rgb(245, 245, 88);
    padding: 14px 16px;
    
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
  }
  /* Nav Links with Hover Effect */
  .topnav a:hover{
      background-color:rgb(245, 245, 88);
      color: rgb(173, 217, 245);
      
      border-radius: 5px;
      box-shadow:  3px 1px rgba(0, 0, 0, 0.082), 0 2px 3px rgba(0,0,0,0.24);
  }
  /* Hides nav icon fullscreen */
  .topnav .icon {
    display: none;
  }
  /* Main Content Styling */
  main{
      display:flex;
      flex-direction: row;
  }
  /* Welcome Message Box */
  .welcome{
      background-color: rgba(240, 206, 14, 0.836);
      border: 5px outset rgba(182, 181, 171, 0.788);
      width:40%;
      margin-left: 25rem;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 30px;
      color: rgb(245, 245, 88);
      /* color: rgb(253, 243, 185); */
      height: 400px;
      
  }
  .welcome h1{
      font-size: 2rem;
  }
  .welcome .welcomemessage{
      padding-top: 20px;
      font-weight: bolder;
      font-size: 20px;
  }
/* Breathing Animation */
.breathingcircle .center img{
    height: 75px;
    display: block;
    margin: auto;
    /* margin-top: 50px; */
    /* border: solid 3px rgb(173, 82, 226); */
    border-radius: 50%;
    animation: breathe 7s linear infinite;
}
@keyframes breathe {
    0% {
     box-shadow: 0 0 0 10px rgba(173, 82, 226, 0.3), 0 0 0 25px rgba(173, 82, 226, 0.3),
      0 0 0 40px rgba(173, 82, 226, 0.3), 0 0 0 55px rgba(173, 82, 226, 0.3), 0 0 0 70px rgba(173, 82, 226, 0.3);
    }
    50% {
        box-shadow: 0 0 0 25px rgba(94, 144, 238, 0.3), 0 0 0 50px rgba(94, 144, 238, 0.3),0 0 0 75px rgba(94, 144, 238, 0.3),
        0 0 0 100px rgba(94, 144, 238, 0.3), 0 0 0 125px rgba(94, 144, 238, 0.3);
         }
    100%{
        box-shadow: 0 0 0 10px rgba(173, 82, 226, 0.3), 0 0 0 25px rgba(173, 82, 226, 0.3),
      0 0 0 40px rgba(173, 82, 226, 0.3), 0 0 0 55px rgba(173, 82, 226, 0.3), 0 0 0 70px rgba(173, 82, 226, 0.3)
    }
   }
footer h1{
    font-size: 15px;
}
footer p{
    font-size: 10px;
}
/* Modal */
.modal{
    position: fixed;
    z-index: 1;
    top: 33%;
    left: 35%;
    /* width: 100%;
    height: 100%; */
    background-color: rgb(226, 174, 174);
    border: 8px outset rgba(182, 181, 171, 0.788) ;
    
}
.close{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 30px;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  color: rgba(210, 180, 140);
  box-shadow: rgba(210, 180, 140, 0.651);
}
.modal .pauseandbreathe{
    display: flex;
    flex-direction: column;
}
.p2{
    font-size: 18px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 8px;
}
.breathingcircle{
    margin-top: 125px;
    margin-bottom: 150px;
}
  /* Media Queries */

  /* When screen size smaller than 600px */
  @media screen and (max-width: 600px) {
    .topnav a:not(:last-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    /* When menu icon clicked, javascript shows nav items */
    @media screen and (max-width: 1280px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
          margin:0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      }
  }