body,h1,h3,p,ul{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(185, 224, 248); */
    font-family: 'Montserrat', sans-serif;
}
/* Page Layout */
.container{
    display: grid;
    grid-template-columns: 35% auto auto;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
    overflow: hidden;

}
/* Header */
header{
    grid-area:header ;
    display: block;
    margin: auto;
}
#logo{
    height: 200px;
}

nav{
    grid-area: nav;
    background-color: rgb(34, 31, 41);
    border-top: rgba(182, 181, 171, 0.788) 1.5px solid;
    border-bottom: rgba(182, 181, 171, 0.788) 1.5px solid;
    min-width: 100%;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(34, 31, 41);
}
/* Modal */
.modal{
    position: fixed;
    z-index: 1;
    top: 33%;
    left: 35%;
    /* width: 100%;
    height: 100%; */
    background-color: whitesmoke;
    border: 8px outset rgba(182, 181, 171, 0.788) ;
    
}
.close{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 30px;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  color: rgba(210, 180, 140);
  box-shadow: rgba(210, 180, 140, 0.651);
}
.modal .pauseandbreathe{
    display: flex;
    flex-direction: column;
}
/* Breathing Animation */
.breathingcircle .center img{
    height: 75px;
    display: block;
    margin: auto;
    /* margin-top: 50px; */
    /* border: solid 3px rgb(173, 82, 226); */
    border-radius: 50%;
    animation: breathe 7s linear infinite;
}
.breathingcircle{
    margin-top: 125px;
    margin-bottom: 150px;
}
@keyframes breathe {
    0% {
     box-shadow: 0 0 0 10px rgba(173, 82, 226, 0.3), 0 0 0 25px rgba(173, 82, 226, 0.3),
      0 0 0 40px rgba(173, 82, 226, 0.3), 0 0 0 55px rgba(173, 82, 226, 0.3), 0 0 0 70px rgba(173, 82, 226, 0.3);
    }
    50% {
        box-shadow: 0 0 0 25px rgba(94, 144, 238, 0.3), 0 0 0 50px rgba(94, 144, 238, 0.3),0 0 0 75px rgba(94, 144, 238, 0.3),
        0 0 0 100px rgba(94, 144, 238, 0.3), 0 0 0 125px rgba(94, 144, 238, 0.3);
         }
    100%{
        box-shadow: 0 0 0 10px rgba(173, 82, 226, 0.3), 0 0 0 25px rgba(173, 82, 226, 0.3),
      0 0 0 40px rgba(173, 82, 226, 0.3), 0 0 0 55px rgba(173, 82, 226, 0.3), 0 0 0 70px rgba(173, 82, 226, 0.3)
    }
   }
/* Nav Styling */
ul{
    list-style-type: none;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    margin-bottom:4px;
}
.topnav a {
    display: block;
    color: rgb(243, 236, 236);
    padding: 14px 16px;
    border: none;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
  }
  /* Nav Links with Hover Effect */
  .topnav a:hover{
      color: rgb(224, 173, 43);
      
      border-radius: 5px;
      box-shadow:  3px 1px rgba(0, 0, 0, 0.082), 0 2px 3px rgba(0,0,0,0.24);
  }
  /* Hides nav icon fullscreen */
  .topnav .icon {
    display: none;
  }
  /* Main Content Styling */
  main{
      display:flex;
      flex-direction: column;
  }
  .welcome img{
      height: 550px;
      display: block;
      margin: 2em auto 2em auto;
  }
  
  .welcome .welcomeheading{
      font-size: 3rem;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
      color: rgb(73, 150, 197);
  }
  .welcome .message{
      font-weight: 600;
      font-size: 20px;
      text-align: left;
      margin: 0 auto 3rem auto;
      width: 80%;
  }
  .message{
      position: relative;
      line-height: 2;
  }
  .message::before {
    content:'';
    position: absolute;
    background-color: #85C1E9;
    width: 3px;
    height: 90%;
    bottom: 0;
    left:-10px; 
  }
  
  /* right line */
  .message::after {
    content:'';
    position: absolute;
    content:'';
    position: absolute;
    background-color: #85C1E9;
    width: 3px;
    height: 90%;
    bottom: 0;
    right:-10px;
  }
.checkin h1{
    text-align: left;
    margin-left: 8rem;
    font-size: 42px;
}
.checkin h2{
    text-align: left;
    margin-left: 8rem;
}
.checkin ol{
    margin-left: 25rem;
    line-height: 2;
    font-size: 23px;
    
}
.checkin p{
    text-align: left;
    margin-left: 8rem;
    width: 80%;
    font-size: 23px;
    font-weight: 500;
}
.checkin img{
    height: 450px;
    display: block;
    margin: 2em auto 2em auto;
}
footer h1{
    font-size: 15px;
    color: whitesmoke;
}
footer p{
    font-size: 10px;
    color: whitesmoke;
}

.p2{
    font-size: 18px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 8px;
}
.foot-icons{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    margin-top: 10px; 
}

  /* Media Queries */

  /* When screen size smaller than 740px */
  @media screen and (max-width: 740px) {
    .checkin .questions{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
   
    }
    
    /* When menu icon clicked, javascript shows nav items */
    @media screen and (max-width: 740px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
          margin:0;
        }
        .topnav li:not(:last-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
          }
          

        
        
        /* .topnav.responsive li {
          float: none;
          display: block;
        }
        .topnav.responsive ul{
            display: flex;
            flex-direction: column;
        }
      } */
  }