body,h1,h3,p,ul{
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
    background: -webkit-linear-gradient(bottom left, rgb(181, 163, 207),rgb(96, 217, 226), rgb(252, 229, 100));	
}
/* Page Layout */
.container{
    display: grid;
    grid-template-columns: 100% auto auto;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'main main main'
    'footer footer footer';
    overflow: hidden;

}
/* Header */
header{
    grid-area:header ;
    display: block;
    margin: auto;
}
#logo{
    height: 200px;
}

nav{
    grid-area: nav;
    background-color: rgb(34, 31, 41);
    border-top: rgba(182, 181, 171, 0.788) 1.5px solid;
    border-bottom: rgba(182, 181, 171, 0.788) 1.5px solid;
    min-width: 100%;
    padding: 5px 0;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(34, 31, 41);
    width: 100%;
}
/* Modal */
.modal{
    position: fixed;
    z-index: 1;
    top: 33%;
    left: 35%;
    /* width: 100%;
    height: 100%; */
    background: whitesmoke;
    background: -webkit-linear-gradient(bottom left, rgb(181, 163, 207),rgb(96, 217, 226), rgb(252, 229, 100));
    
    border: 8px outset rgba(46, 46, 42, 0.788) ;
    
}
.close{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 30px;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  color: rgba(210, 180, 140);
  box-shadow: rgba(210, 180, 140, 0.651);
}
.modal .pauseandbreathe{
    display: flex;
    flex-direction: column;
}
/* Breathing Animation */
.breathingcircle .center img{
    height: 75px;
    display: block;
    margin: auto;
    background-image: url();
    border-radius: 50%;
    animation: breathe 8s linear infinite;
}
.breathingcircle{
    margin-top: 125px;
    margin-bottom: 150px;
}
@keyframes breathe {
    0% {
     box-shadow: 0 0 0 10px rgba(173, 82, 226, 0.3), 0 0 0 25px rgba(173, 82, 226, 0.3),
      0 0 0 40px rgba(173, 82, 226, 0.3), 0 0 0 55px rgba(173, 82, 226, 0.3), 0 0 0 70px rgba(173, 82, 226, 0.3);
    }
    50% {
        box-shadow: 0 0 0 25px rgba(94, 144, 238, 0.3), 0 0 0 50px rgba(94, 144, 238, 0.3),0 0 0 75px rgba(94, 144, 238, 0.3),
        0 0 0 100px rgba(94, 144, 238, 0.3), 0 0 0 125px rgba(94, 144, 238, 0.3);
         }
    100%{
        box-shadow: 0 0 0 10px rgba(173, 82, 226, 0.3), 0 0 0 25px rgba(173, 82, 226, 0.3),
      0 0 0 40px rgba(173, 82, 226, 0.3), 0 0 0 55px rgba(173, 82, 226, 0.3), 0 0 0 70px rgba(173, 82, 226, 0.3)
    }
   }
/* Random Quote Generator */

.random-qte-gen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 60%;
    min-width: 60%;
}
.quoteDisplay{
    margin-top: 10px;
    border: 2px outset black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-width:75%;
    padding: 4em;
    background-image: url(images/still\ water.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    
  }
  .quote-title{
    color: whitesmoke;
    font-size: 25px;
  }
  #quoteDisplay{
    margin: 15px;
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    max-width: 100%;
    font-style: italic;
    font-weight: 600;
  }
  #quoteDisplay p{
      font-size: 18px;
      color: whitesmoke;
      text-align: center;
      max-width: 100%;
  }
  
  #quote-btn{
    border-radius: 10px;
    padding: 11px 19px 11px 19px;
    margin: 10px 0;
    background-color: rgb(71, 71, 122);
    color:whitesmoke;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  #quote-btn:hover{
      background-color: rgba(22, 22, 124, 0.562);
  }
/* Nav Styling */


.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
}

.navbar-links li{
    list-style-type: none;

}
.navbar-links li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: #555;
}
.nav-list{
    display: block;
}
.nav-list li{
    flex-direction: row;
}
.nav-icon li{
    display:none;
}
button .toggle-button{
    background-color: rgb(34, 31, 41);
    border: transparent;
    box-shadow: 0 3px rgb(28, 27, 29);
    padding: 5px;
    border-radius: 2px;
    color: whitesmoke;
}
.button:active {
    background-color: rgb(34, 31, 41);
    box-shadow: 0 5px rgb(28, 27, 29);
    transform: translateY(4px);
  }


  /* Main Content Styling */
  main{
      display:flex;
      flex-direction: column;
  }
  .welcome img{
      height: 450px;
      display: block;
      margin: 2em auto 2em auto;
  }
  
  .welcome .welcomeheading{
      font-size: 2rem;
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
      
  }
  .welcome .message{
      font-weight: 500;
      font-size: 18px;
      text-align: left;
      margin: 0 auto 3rem auto;
      width: 80%;
  }
  .message{
      position: relative;
      line-height: 2;
  }
  /* Border Header Line Left */
  .message::before {
    content:'';
    position: absolute;
    background-color: #f5e130;
    width: 3px;
    height: 90%;
    bottom: 0;
    left:-15px; 
  }
  
  /* Border Header right line */
  .message::after {
    content:'';
    position: absolute;
    content:'';
    position: absolute;
    background-color: #f5e130;
    width: 3px;
    height: 90%;
    bottom: 0;
    right:-10px;
  }
.checkin h1{
    text-align: center;
    margin: 0 auto 3rem auto;
    font-size: 2rem;
}
.checkin h2{
    text-align: center                                                                                                                                                                                                          ;
    font-size: 1rem;
}
.checkin ol{
    margin-left: 25rem;
    line-height: 2;
    font-size: 17px;
    
}
.checkin p{
    text-align: left;
    margin: 0 auto 3rem auto;
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}
.checkin img{
    height: 450px;
    display: block;
    margin: 2em auto 2em auto;
}
footer h1{
    font-size: 15px;
    color: whitesmoke;
}
footer p{
    font-size: 10px;
    color: whitesmoke;
}

.p2{
    font-size: 18px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 8px;
}
.foot-icons{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}


  /* Media Queries */

  /* When screen size smaller than 740px */
  @media screen and (max-width: 740px) {
    .checkin .questions{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .welcome img{
        max-width: 75%;
        height: 42%;
    }
    .checkin img{
        max-width: 75%;
    }
    .modal{
        position:fixed;
        top:15%;
        left: 15%;
        max-width: 70%;
        max-height: 70%;
    }
    
    }
    
    /* When menu icon clicked, javascript shows nav items */
    @media screen and (max-width: 740px) {
        /* Responsive Navbar */
        .nav-icon li{
            display: block;
        }
        .navbar-links .nav-list{
            display: none;
        }
        
        .nav-list{
            display: flex;
            flex-direction: column;
            width:100%;
        }
        .nav-list li{
            flex-direction: column;
            text-align: center;
        }
        .nav-list li a{
            padding: .5 rem 1 rem;
        }
  }